<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookStoragePJ.mapper.FindMapper">

<select id="findId" resultType="string" parameterType="string">
select mem_id from members 
where mem_name = #{arg0} and mem_phone = #{arg1} and mem_email = #{arg2} 
union
select emp_id from employees
where emp_name = #{arg0} and emp_phone = #{arg1} and emp_email = #{arg2}
</select>

<select id="findPw" resultType="find" parameterType="string">
select mem_email as memEmail, mem_id as memId, mem_name as memName, mem_pw as memPw from members
where mem_id = #{arg0} and mem_phone = #{arg1} and mem_email = #{arg2} 
union
select emp_email, emp_id, emp_name, emp_pw from employees
where emp_id = #{arg0} and emp_phone = #{arg1} and emp_email = #{arg2}
</select>

<update id="findPwUpdate" parameterType="string">
update members 
set mem_pw = #{arg1}
where mem_id = #{arg0}
</update>

<update id="findPwSend" parameterType="find">
update members 
set mem_pw = #{memPw}
where mem_id = #{memId}
</update>
</mapper>