<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/thymeleaf/common/layouts/default_layout">

<th:block layout:fragment="contentCss">
	<link href="/static/css/register/memberAgree.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" />
</th:block>

<th:block layout:fragment="contentScript">

</th:block>

<th:block layout:fragment="content">
	<section id="section">
		<div class="sectionTop">
			<div class="wrap">
				<div class="snbBox">
					<h3>회원정보</h3>
					<ul class="snb">
						<li><a href="#">로그인</a></li>
						<li><a href="#">아이디 찾기</a></li>
						<li><a href="#">비밀번호 찾기</a></li>
						<li><a href="#">회원가입</a></li>
					</ul>
				</div>
				<div class="sectionMid">
					<div class="subject">
						<h2>회원가입</h2>
						<div class="subjectRoot">
							<ul>
								<li><a href="#"><i class="fal fa-home"></i>&nbsp;</a></li>
								<li>&nbsp;>&nbsp;&nbsp;회원정보</li>
								<li>&nbsp;>&nbsp;&nbsp;회원가입</li>
							</ul>
						</div>
						<div class="subjectButton">
							<ul>
								<li><a href="#"><i class="fal fa-share-alt"></i></i></i></a></li>
								<li><a href="#"><i class="fal fa-print"></i></i></a></li>
							</ul>
						</div>
					</div>
					<div class="stepNavigation">
						<ol>
							<li><span class="stepNaviIndex">1</span><span class="stetNaviText">약관 동의</span></li>
							<li><span class="stepNaviIndex">2</span><span class="stetNaviText">정보 입력</span></li>
							<li><span class="stepNaviIndex">3</span><span class="stetNaviText">가입 완료</span></li>
						</ol>
					</div>
					<div class="container">
						<input type="checkbox" id="allAgree">전체동의
						<hr>
						<input type"checkbox" id="firstAgree">이용약관<span class="required">(필수)</span>
						<div class="terms">
							<h4>제1장 총칭</h4><br>
							<h5>제1조 (목적)</h5>
							<p>이 약관은 주식회사 북스토리지(이하 “회사”라 함)가 운영하는 “북스토리지” 인터넷 사이트 (www.bookstorage.co.kr, 이하 “북스토리지”이라
								함)와
								스마트폰 등 이동통신기기를 통해 제공되는 ‘북스토리지’ 모바일 애플리케이션(이하 “모바일북스토리지”이라고 합니다)을 통해서 제공하는 전자상거래 관련 서비스
								및 기타 서비스 (이하 “서비스”라 함)를 이용하는 자간의 권리, 의무를 확정하고 이를 이행함으로써 상호 발전을 도모하는 것을 그 목적으로 합니다.</p>
							<h5>제2조 (약관의 명시, 효력과 개정)</h5>
							<p>1. 회사는 이 약관의 내용을 회사의 상호, 영업소 소재지, 대표자의 성명, 사업자등록번호, 연락처(전화, 팩스, 전자우편주소 등)등과 함께 회원이 확인할
								수 있도록 “북스토리지” 초기 서비스화면 또는 연결화면에 게시합니다.
								2. 회사는 약관의규제에관한법률, 전자문서 및 전자거래기본법, 전자서명법, 정보통신망이용촉진및정보보호등에관한법률, 전자상거래등에서의소비자보호에관한법률,
								전자금융거래법 등 관련법을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.
								3. 회사가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 초기화면에 그 적용일자 14일 이전부터 적용일자 전일까지 공지합니다.
								다만, 변경 내용이 중대하거나 구매회원에게 불리한 경우에는 그 적용일자 30일 이전부터 적용일자 전일까지 공지하고 구매회원에게 개별 통지합니다.변경된 약관은
								그 적용일자 이전으로 소급하여 적용되지 아니합니다</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>

</html>