<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="thymeleaf/common/layouts/default_layout">
	
<th:block layout:fragment="contentCss">
	<link href="/static/css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</th:block>

<th:block layout:fragment="contentScript">
	<script src="https://kit.fontawesome.com/19818c12f7.js" crossorigin="anonymous"></script>
	<script src="static/js/dropdownSearch.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script>
		window.onload = function () {
			var swiper = new Swiper(".mySwiper", {
				spaceBetween: 30,
				centeredSlides: true,
				autoplay: {
					delay: 2500,
					disableOnInteraction: false,
				},
				pagination: {
					el: ".swiper-pagination",
					clickable: true,
				},
				navigation: {
					nextEl: ".swiper-button-next",
					prevEl: ".swiper-button-prev",
				},
			});
		};
	</script>
	<script src="/static/js/errorHide.js"></script>
</th:block>

<th:block layout:fragment="content">
	<section id="section">
		<div class="sectionTop">
			<div class="sectionGroup">
				<div class="searchBox">
					<div class="dropdown">
						<span class="defaultOption">통합검색</span>
						<ul>
							<li>통합검색</li>
							<li>제목</li>
							<li>저자</li>
							<li>출판사</li>
						</ul>
					</div>
					<div class="searchField">
						<input type="text" class="input" name="searchBox" placeholder="검색어를 입력하세요.">
						<i class="fa-solid fa-magnifying-glass" style="color: #4073cc;"></i>
					</div>
				</div>
				<div class="sectionTopFlex">
					<div class="swipeBox">
						<div class="swiper mySwiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<img src="/static/img/swipe_1.jpg">
								</div>
								<div class="swiper-slide">
									<img src="/static/img/swipe_2.jpg">
								</div>
								<div class="swiper-slide">
									<img src="/static/img/swipe_3.jpg">
								</div>
								<div class="swiper-slide">
									<img src="/static/img/swipe_4.jpg">
								</div>
							</div>
							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
					<div th:if="${session.auth == null}"> <!--로그인 정보 없을 때-->
						<div class="loginBox">
							<div class="loginFormWrap">
								<form class="loginForm" action="/login/login" method="post" th:object="${loginCommand}">
									<table>
										<caption>회원 로그인</caption>
										<tr><th colspan="3"><input type="checkbox" name="">로그인 유지<input type="checkbox" name="">아이디 저장</tr>
										<tr>
											<th class="positionRel"colspan="3">
												<input type="text" name="memId" id="memId" placeholder="아이디" th:value="${loginCommand.memId}">
												<span class="hide1 Error" th:if="${#fields.hasErrors('memId')}" th:errors="*{memId}"></span>
											</th>
										</tr>
										<tr>
											<th class="positionRel" colspan="3">
												<input type="password" name="memPw" id="memPw" placeholder="비밀번호">
												<span class="hide2 Error" th:if="${#fields.hasErrors('memPw')}" th:errors="*{memPw}"></span>
											</th>
										</tr>
										<tr><th colspan="3"><input type="submit" value="로그인"></th></tr>
										<tr><th colspan="3"><div class="form4"><a href="#">아이디 찾기</a><a href="#">비밀번호 찾기</a><a href="register/userAgree">회원가입</a></div></td></tr>
									</table>
								</form>
								<ul>
									<li>소메뉴1</li>
									<li>소메뉴2</li>
									<li>소메뉴3</li>
									<li>소메뉴4</li>
								</ul>
							</div>
						</div>
					</div>
					<div th:if="${session.auth != null && session.auth.grade == 'mem'}"> <!--로그인 정보 있을 때-->
						<div class="loginBox">
							<div class="loginFormWrap">
									<table>
										<caption>[[${session.auth.memName}]]님 환영합니다!</caption>
										<tr>
											<th class="" colspan="3">
												<a href="login/logout">로그아웃</a>
											</th>
										</tr>
										<tr>
											<th class="" colspan="3">
												<span>구역 나누기</span>
											</th>
										</tr>
										<tr>
											<th class="" colspan="3">
												<button type="button">내서재</button>
												<button type="button">마이페이지</button>
											</th>
										</tr>
									</table>
								<ul>
									<li>소메뉴1</li>
									<li>소메뉴2</li>
									<li>소메뉴3</li>
									<li>소메뉴4</li>
								</ul>
							</div>
						</div>
					</div>
					<!--직원으로로그인했을때				<div th:if="${session.auth != null}">
														<div class="loginBox">
															<div class="loginFormWrap">
																<form class="loginForm" action="/login/login" method="post" th:object="${loginCommand}">
																	<table>
																		<caption>회원 로그인</caption>
																		<tr><th colspan="3"><input type="checkbox" name="">로그인 유지<input type="checkbox" name="">아이디 저장</tr>
																		<tr>
																			<th class="positionRel"colspan="3">
																				<input type="text" name="memId" id="memId" placeholder="아이디" th:value="${loginCommand.memId}">
																				<span class="hide1 Error" th:if="${#fields.hasErrors('memId')}" th:errors="*{memId}"></span>
																			</th>
																		</tr>
																		<tr>
																			<th class="positionRel" colspan="3">
																				<input type="password" name="memPw" id="memPw" placeholder="비밀번호">
																				<span class="hide2 Error" th:if="${#fields.hasErrors('memPw')}" th:errors="*{memPw}"></span>
																			</th>
																		</tr>
																		<tr><th colspan="3"><input type="submit" value="로그인"></th></tr>
																		<tr><th colspan="3"><div class="form4"><a href="#">아이디 찾기</a><a href="#">비밀번호 찾기</a><a href="register/userAgree">회원가입</a></div></td></tr>
																	</table>
																</form>
																<ul>
																	<li>소메뉴1</li>
																	<li>소메뉴2</li>
																	<li>소메뉴3</li>
																	<li>소메뉴4</li>
																</ul>
															</div>
														</div>
													</div> -->
				</div>
			</div>
		</div>
		<div class="sectionMid">
			<div class="sectionGroup">
				<div class="dummyBox">
					
				</div>
			</div>
		</div>
    </section>
</th:block>

</html>