@charset "UTF-8";


#header .header_top {
	width: 1200px;
	position: relative;
	margin: 0 auto;
}

#header .header_top p {
	text-align: center;
	padding: 20px 0;
}

#header .header_top p a {
	display: inline-block;
}

#header .header_top p a img {
	width: auto;
	height: 70px;
}

#header .header_top .siteMenu {
	position: absolute;
	top: 50px;
	right: 5px;
}

#header .header_top .siteMenu ul li {
	display: inline-block;
}

#header .header_top .siteMenu ul li:nth-child(2) {
	color: #b4b4b4;
}

#header .header_top .siteMenu ul li a {
	color: #464646;
	text-decoration: none;
}

#header .header_top .siteMenu ul li a:hover,
#header .header_top .siteMenu ul li a:focus {
	color: #4073cc;
	transition: 0.3s;
	/*text-decoration: underline;*/
}

#header .header_bottom #gnb {
	border-top: 1px solid #e8e8e8;
}

#header .header_bottom #gnb.fixed {
	background-color: #3780ca;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;

}

#header .header_bottom #gnb.fixed ul li a {
	color: #fff;
}

#header .header_bottom #gnb.fixed ul li fa-home-lg{
	color: #fff;
}

#header .header_bottom #gnb ul {
	max-width: 1200px;
	margin: 0 auto;
}

#header .header_bottom #gnb ul li {
	box-sizing: border-box;
	display: inline-block;
	height: 60px;
	text-align: center;
}

#header .header_bottom #gnb ul .width25 {
	width: calc(25% - 15px);
}

#header .header_bottom #gnb ul li:first-child {
	background-color: #005eb2;
	width: 60px;
}

#header .header_bottom #gnb ul li:hover {
	background-color: #3780ca;
	border-bottom: 2px solid #1B57AB;
}

#header .header_bottom #gnb ul li:hover a{
	color: #fff;
}

#header .header_bottom #gnb ul li a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 60px;
	color: #464646;
	font-size: 20px;
	text-decoration: none;
}

#header .header_bottom #gnb ul li .fa-home-lg {
	vertical-align: middle;
	font-size: 30px;
	color: #fff;
}

#header .header_bottom #lnb {
	display: none;
}

#header .header_bottom #lnb {
	background-color: #fff;
}

#header .header_bottom #lnb li{
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
}

#header .header_bottom #lnb li:hover{
	background-color: #3780ca;
}

#header .header_bottom #lnb a {
	color: #fff;
	text-decoration: none;
}

#header .header_bottom #lnb a:hover {
	color: #fff;
	text-decoration: solid;
}

#header .header_bottom #lnb.active {
	display: block;
}

.me {
	margin: 0 auto;
	width: 1200px;
	height: 1500px;
	background-color: darkgoldenrod;
}